@model ProductReviewSystem.Models.ViewModels.CreateProductViewModel

@{ ViewBag.Title = "Create Product"; }

<div class="row justify-content-center">
    <div class="card">

        <div class="card-header">
            <h1 class="text-center">Beebarh Products</h1>
        </div>

        <div class="card-body">

            <form method="post">

                <div class="form-group">
                    <input asp-for="Name" class="form-control" placeholder="Enter product name" />
                    <span asp-validation-for="Name" class="text-danger"></span><br>

                    <input asp-for="Description" class="form-control" placeholder="Product Description" />
                    <span asp-validation-for="Description" class="text-danger"></span><br>

                    <select asp-for="UserId" asp-items="ViewBag.users" class="form-control" required>
                        <option selected>--Select Manufacturer--</option>
                    </select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create Product" class="btn btn-success" />
                </div>

            </form>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}